<ion-view view-title="Study Details">
	<ion-content>
		 <h3>Measurements</h3>
	     <ion-list class="list">
	      	<ion-item ng-repeat="observation in observationList" href="#">
	        	<h2>{{observation.germplasmDesignation}}</h2>
				<span><strong>Entry:</strong> {{observation.enrtyNumber}}</span>
				<span><strong>Type:</strong> {{observation.entryType}}</span>
				<span><strong>Rep:</strong> {{observation.replicationNumber}}</span>
				<span><strong>Env:</strong> {{observation.environmentNumber}}</span><br/>
				<span ng-repeat="measurement in observation.measurements">
					<strong>{{measurement.traitName}}:</strong> {{measurement.value}}<br/>
				</span>
	        </ion-item> 
    	</ion-list>
  </ion-content>
</ion-view>
